.headquarters__title {
    width: 648px;
    text-align: center;
    font-weight: bold;
    font-size: 120px;
    line-height: 1.15;
    margin-top: 250px;
    margin-bottom: 70px;
    color: white;

  }